.edit-product{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;

	form{
		height: 50vh;
		width: 30vw;
		.form-row{
			margin: 5px;
			min-height: 70px;

			&.price{
				display: flex;
				flex-direction: row;

				.currency{
					flex: 1 0 auto;
					text-align: left;
				}
			}

			&.buttons{
				display: flex;
				flex-direction: row;

				>span{
					flex: 1 0 auto;
				}

			}
		}
	}
}