@import '../variables.scss';

.product-card{
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    width: 8em;
    border: 1px solid $theme-major;

    &:first-child{
        margin-left: 0px;
    }

    .product-name{
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
        white-space: nowrap;
    }

    .product-price{
        display: block;
        padding: 5px 0px;
        .product-price-currency{
            font-size: .75em;
            color: darkgray;
        }
    }
}