.product-details{
    padding: 5px;
    text-align: left;
    
    .product-name{
        font-size: 3em;
        margin: 0;

        .MuiSvgIcon-root{
            cursor: pointer;
            font-size: .8em;
            padding: 5px;
            color: cornflowerblue;
            vertical-align: sub;
        }
    }
    .product-price{
        font-size: 2em;
        display: block;
        padding: 5px 0px;
        .product-price-currency{
            font-size: .75em;
            color: darkgray;
        }
    }

    .product-desc{
        padding: 5px;
    }
}